


.app{
  width: 95vw;
  height: 100vh;

   
  &__background{
    width: 100vw;
    height:100vh;
    display: flex;
    background-image: url("./assets/space.jpg");
  }
  &__ship{
    background-image: url(./assets/ship.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
} 